{% extends "./base/base.html" %}
{% from "./components/colorBlockGrid.html" import cardSwatch %}

{% set minorColumnClasses = "col-md-1 col-md-offset-1 col-lg-1 col-lg-offset-1 flex-parent" %}
{% set majorColumnClasses = "col-md-8 col-md-offset-1 col-lg-7 col-lg-offset-1" %}

{% set demoHeaderTxt = "Things have happened so take note" %}

{% set introParagraphDetails = "This is the Intro version of a paragraph with a large font size to make it stand out." %}

{% set demoParagraphTxtLong = "Paragraph - The standard paragraph font. Paragraphs are limited to 60rem width, maximum, to alieviate reading fatigue at large sizes. Centered as a block, text-aligned left. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum malesuada iaculis. Vestibulum bibendum feugiat lacinia. Donec rutrum pretium lorem, a porta augue lobortis sit amet. Nam id eros massa. Sed in scelerisque justo. Ut nec tristique nibh. Maecenas ultricies suscipit nisi." %}

{% set demoParagraphTxtShort = "Paragraphs are limited to 60rem width, maximum, to alieviate reading fatigue at large sizes. Centered as a block, text-aligned left. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum malesuada iaculis." %}

{% set headerItems = [ 
	{ tag: "h1", addClass: "super", label: "H1 .super", content: demoHeaderTxt },
	{ tag: "h1", addClass: "", label: "H1", content: demoHeaderTxt },
	{ tag: "h2", addClass: "", label: "H2", content: demoHeaderTxt },
	{ tag: "h3", addClass: "", label: "H3", content: demoHeaderTxt },
	{ tag: "h4", addClass: "", label: "H4", content: demoHeaderTxt },
	{ tag: "h5", addClass: "", label: "H5", content: demoHeaderTxt },
	{ tag: "h6", addClass: "", label: "H6", content: demoHeaderTxt }
	]
%}

{% set typeItems = [ 
	{ tag: "p", addClass: "intro", label: "Paragraph .intro", content: introParagraphDetails + " " + demoParagraphTxtShort },
	{ tag: "p", addClass: "", label: "Paragraph", content: demoParagraphTxtLong }
	]
%}

{% set addTypeItems = [ 
	{ tag: "sub", addClass: "", label: "Sub element", content: "<p>H<sub>2</sub>SO<sub>4</sub></p>" },
	{ tag: "sup", addClass: "", label: "Sup element", content: "<p>4<sup>th</sup></p>" }
	]
%}

	{% block pageTitle %}
	<title>Everything is here</title>
	{% endblock %}
	{% block pageCSS %}
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/kitchensink.css">

	{% endblock %}

{% block pageContent %}
    <!-- Page contents -->

    <section class="padded full feature-section">
    	<hr />
	    <h3>Typography</h3>
	    <hr />
	    <section class="padded">
	    	
	    	<div class="container">

	    		{% for item in headerItems %}

    			<div class="row">
	    			<div class="{{ minorColumnClasses }}">
	    				<small class="ks-label label-typography">{{ item.label }}</small>
	    			</div>
	    			<div class="{{ majorColumnClasses }}">
	    				<div class="typography-item">
	    					<{{ item.tag }} class="demo-item {{ item.addClass }}">{{ item.content }}</{{ item.tag }}>
	    				</div>			
	    			</div>
	    		</div>

	    		{% endfor %}

	    		<hr class="demo-seperator-line">
	    		{% for item in typeItems %}

    			<div class="row">
	    			<div class="{{ minorColumnClasses }}">
	    				<small class="ks-label label-typography">{{ item.label }}</small>
	    			</div>
	    			<div class="{{ majorColumnClasses }}">
	    				<div class="typography-item">
	    					<{{ item.tag }} class="demo-item {{ item.addClass }}">{{ item.content }}</{{ item.tag }}>
	    				</div>			
	    			</div>
	    		</div>

	    		{% if loop.last === false %}
	    		<hr class="demo-seperator-line">
	    		{% endif %}

	    		{% endfor %}

	    		<hr class="demo-seperator-line">
	    		{% for item in addTypeItems %}

    			<div class="row">
	    			<div class="{{ minorColumnClasses }}">
	    				<small class="ks-label label-typography">{{ item.label }}</small>
	    			</div>
	    			<div class="{{ majorColumnClasses }}">
	    				<div class="typography-item">
	    					<{{ item.tag }} class="demo-item {{ item.addClass }}">{{ item.content | safe }}</{{ item.tag }}>
	    				</div>			
	    			</div>
	    		</div>

	    		{% if loop.last === false %}
	    		<hr class="demo-seperator-line">
	    		{% endif %}

	    		{% endfor %}


	    		<hr class="demo-seperator-line">

    			<div class="row">
	    			<div class="{{ minorColumnClasses }}">
	    				<small class="ks-label label-typography">Blockquote</small>
	    			</div>
					<div class="{{ majorColumnClasses }}">
    					<blockquote class="demo-item" cite="https://www.huxley.net/bnw/four.html">
						    <p>Words can be like <span>X-rays</span>, if you use them <span>properly</span> - they’ll go through <span>anything</span>. You read and you’re <span>pierced</span>.</p>
						    <footer><cite>Brave New World</cite><br>Aldous Huxley</footer>
						</blockquote>
					</div>			
    			</div>


	    	</div>

	    </section>

	</section>
    
    <section class="padded full section-palette">
    	<div class="section-title">
    		<hr />
	    	<h4>Colour Palette</h4>
	    	<hr />
    	</div>
    	<div class="section-content">
		    {% for color in colors %}
		    <section class="padded section-palette--item">
				<h5>{{ color.name }}</h5>
				<div class="swatch-section">
					{% for member in color.members %}
						{% if member.name === "400" %}
						<div class="color-swatch-tile swatch-tile-large">
							<div class="color-swatch" style="background-color: {{ member.val }};">
								<div class="color-details {% if member.contrast === 'light' %} contrast-dark{% else %} contrast-light{% endif %}">
									<p class="color-name">{{ member.name }}</p>
									<p class="color-value">{{ member.val }}</p>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}

					<div class="color-swatches block-grid grid-list">

						{% for member in color.members %}
						{{ cardSwatch( member.name, member.val, member.contrast, member.notes ) }}
						{% endfor %}
					</div>
				</div>

				<hr />
			</section>
			{% endfor %}
		</div>
	</section>
	<p>And now?</p>
{% endblock %}