{% extends "layouts/fixedHeaderPage.html" %}
{% from "./components/colorBlockGrid.html" import cardSwatch %}
{% from "./components/ksDemoItem.html" import ksDemoItem %}
{% import  "./templateConfiguration/variables.html" as site %}

{# {% set elList = [ site.headerItems, site.typeItems, site.addTypeItems ] %} #}

{% block pageTitle %}
<title>Everything is here</title>
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="css/ksVendor.css">
{% endblock %}

<!-- fixed header: page template -->
{% block fixedMastHead %}
{% include "partials/ksHeader.html" %}
{% endblock %}

{% include "partials/ksTypographyIntroSection.html" %}
{% block pageTemplateContents %}
<!-- Page Template contents -->

<div class="page-fixed-head-foot page-kitchensink page-contents page-content-wrapper">
	<div class="page-fixed-head-foot page-kitchensink page-contents page-content-inner">
		<section class="padded">
			<div class="container">
			
			</div>
			<div class="container">
			{% include "partials/ksElementList.html" %}
			</div>
		</section>

		{% include "partials/ksColourIntroSection.html" %}
		<section class="padded full section-palette">
			<div class="section-content">
				
				{% include "partials/ksColourList.html" %}
			</div>
		</section>
	</div>
</div>
{% endblock %} <!-- Close Page Template contents -->

<!-- fixed footer: layout template -->
{% block fixedFooter %}
{% include "partials/ksFooter.html" %}
{% endblock %}

{%- block pageVendorJs -%}
<script src="js/ksVendor.js"></script>
{%- endblock -%}