{% extends "layouts/pageLayouts/singleColumnLayout.html" %}


{% block pageTitle %}
<title>Lightning drawing test</title>
<style>
    html, body, main { width: 100vw; height: 100vh; padding: 0; margin: 0; }
    #lightningDrawingTest { background-color: #000; display: block; width: 100%; height: 100%; }
</style>
{% endblock %}

{% block mainContent %}
    <!-- Page contents -->
<canvas id="lightningDrawingTest"></canvas>
{% endblock %}
{%- block pageScriptsJs -%}
<script src="js/lightningTest.js"></script>
{%- endblock -%}