<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    {% block pageTitle %}
    <title>The default title</title>
    {% endblock %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    {% block pageVendorCSS %}
    {% endblock %}
    <link rel="stylesheet" href="css/main.css">
    {% block pageCSS %}
    {% endblock %}
    <meta name="theme-color" content="#fafafa">
</head>

<body>

    <main>
    {% block layoutTemplateContent %}
    <!-- Page contents -->
    {% endblock %}
    </main>

    <script src="js/vendor.js"></script>
    {%- block pageVendorJs -%}
    {%- endblock -%}
    <script src="js/scripts.js"></script>
    {%- block pageScriptsJs -%}
    {%- endblock -%}
</body>

</html>