{% from "components/ksDemoItem.html" import ksDemoItem %}
{% import "templateConfiguration/variables.html" as site %}
{% import "ksElementConfig.html" as ks %}
{% set elementList = ks.elLists %}

{% for itemSet in elementList.els %}
	{%- if loop.index0 === 0 -%}
		{%- set itemSet0 = true -%}
	{%- else -%}
		{%- set itemSet0 = false -%}
	{%- endif -%}
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<h5>{{ itemSet.title }}</h5>
			</div>
		</div>
	</div>
	<div class="container">
	{%- for item in itemSet.members -%}
	{{ ksDemoItem(
		item,
		site.minorColumnClasses,
		site.majorColumnClasses,
		site.ksCodeLayoutClasses,
		elementList.srcElListPath,
		elementList.distElListPath
		)
	}}
	{%- if itemSet0 === false -%}
		<!-- {%- if loop.last === false -%}
	<hr class="demo-seperator-line">
		{%- endif -%} -->
	{%- endif -%}
	{%- endfor -%}
	</div>
	<hr class="demo-seperator-line">
{%- endfor -%}