<section class="padded full feature-section">
	<hr />
	<div class="container">
		<div class="row">
			<div class="{{ site.fullWidthParagrahClass }}">
				<div class="section-title">
					<h4>Typography</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="{{ site.fullWidthParagrahClass }}">
				<p>HTML textual elements are listed here for reference. Use the HTML tag and the base styles will be applied automatically, no need to add classes.</p>
			</div>
		</div>
	</div>
	<hr />
</section>