html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	font-family: "Roboto", tahoma, sans-serif;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, sup, sub, li, i, a, blockquote {
	font-family: "Roboto", tahoma, sans-serif;
	font-weight: 300;
}

strong, em, b {
	font-family: "Roboto", tahoma, sans-serif;
	font-weight: 600;
}