///////////////////////// colors

// black - white
$hex-white: #ffffff;
$hex-black: #000000;

// greys
$grey-lightest: #e1e1e1;
$grey-light: #cccccc;
$grey-medium: #888888;
$grey-dark: #555555;
$grey-darkest: #222222;

// reds
$red-light: #cc0000;
$red-medium: #9a0000;
$red-dark: #660000;
$red-darkest: #330000;

// blues
$blue-medium: #0055ff;

// errors
$error-red: $red-light;