$colors-0-name: Standard;
$colors-0-members-0-name: $hex-white;
$colors-0-members-0-val: #ffffff;
$colors-0-members-0-contrast: dark;
$colors-0-members-0-notes: Solid white, only to be used in extreme circumstances;
$colors-0-members-1-name: $hex-black;
$colors-0-members-1-val: #000000;
$colors-0-members-1-contrast: light;
$colors-0-members-1-notes: Solid black, only to be used in extreme circumstances;
$colors-1-name: grey;
$colors-1-members-0-name: 50;
$colors-1-members-0-val: #e7e7e7;
$colors-1-members-0-contrast: dark;
$colors-1-members-0-notes: The lightest hint of grey;
$colors-1-members-1-name: 100;
$colors-1-members-1-val: #c4c4c4;
$colors-1-members-1-contrast: dark;
$colors-1-members-1-notes: Our light grey;
$colors-1-members-2-name: 200;
$colors-1-members-2-val: #a0a0a0;
$colors-1-members-2-contrast: dark;
$colors-1-members-2-notes: Our light grey;
$colors-1-members-3-name: 300;
$colors-1-members-3-val: #888888;
$colors-1-members-3-contrast: dark;
$colors-1-members-3-notes: Our light grey;
$colors-1-members-4-name: 400;
$colors-1-members-4-val: #6d6d6d;
$colors-1-members-4-contrast: light;
$colors-1-members-4-notes: Our light grey;
$colors-1-members-5-name: 500;
$colors-1-members-5-val: #525252;
$colors-1-members-5-contrast: light;
$colors-1-members-5-notes: Our light grey;
$colors-1-members-6-name: 600;
$colors-1-members-6-val: #363636;
$colors-1-members-6-contrast: light;
$colors-1-members-6-notes: Our light grey;
$colors-1-members-7-name: 700;
$colors-1-members-7-val: #292929;
$colors-1-members-7-contrast: light;
$colors-1-members-7-notes: Our light grey;
$colors-1-members-8-name: 800;
$colors-1-members-8-val: #1b1b1b;
$colors-1-members-8-contrast: light;
$colors-1-members-8-notes: Our light grey;
$colors-1-members-9-name: 900;
$colors-1-members-9-val: #0e0e0e;
$colors-1-members-9-contrast: light;
$colors-1-members-9-notes: Our light grey;
$colors-2-name: red;
$colors-2-members-0-name: 50;
$colors-2-members-0-val: #f0b3b3;
$colors-2-members-0-contrast: dark;
$colors-2-members-0-notes: The lightest hint of grey;
$colors-2-members-1-name: 100;
$colors-2-members-1-val: #e68080;
$colors-2-members-1-contrast: dark;
$colors-2-members-1-notes: Our light grey;
$colors-2-members-2-name: 200;
$colors-2-members-2-val: #db4d4d;
$colors-2-members-2-contrast: dark;
$colors-2-members-2-notes: Our light grey;
$colors-2-members-3-name: 300;
$colors-2-members-3-val: #d63333;
$colors-2-members-3-contrast: dark;
$colors-2-members-3-notes: Our light grey;
$colors-2-members-4-name: 400;
$colors-2-members-4-val: #cc0000;
$colors-2-members-4-contrast: light;
$colors-2-members-4-notes: Our light grey;
$colors-2-members-5-name: 500;
$colors-2-members-5-val: #b80000;
$colors-2-members-5-contrast: light;
$colors-2-members-5-notes: Our light grey;
$colors-2-members-6-name: 600;
$colors-2-members-6-val: #8f0000;
$colors-2-members-6-contrast: light;
$colors-2-members-6-notes: Our light grey;
$colors-2-members-7-name: 700;
$colors-2-members-7-val: #7a0000;
$colors-2-members-7-contrast: light;
$colors-2-members-7-notes: Our light grey;
$colors-2-members-8-name: 800;
$colors-2-members-8-val: #520000;
$colors-2-members-8-contrast: light;
$colors-2-members-8-notes: Our light grey;
$colors-2-members-9-name: 900;
$colors-2-members-9-val: #290000;
$colors-2-members-9-contrast: light;
$colors-2-members-9-notes: Our light grey;
$colors-3-name: blue;
$colors-3-members-0-name: 50;
$colors-3-members-0-val: #ccddff;
$colors-3-members-0-contrast: dark;
$colors-3-members-0-notes: The lightest hint of grey;
$colors-3-members-1-name: 100;
$colors-3-members-1-val: #99bbff;
$colors-3-members-1-contrast: dark;
$colors-3-members-1-notes: Our light grey;
$colors-3-members-2-name: 200;
$colors-3-members-2-val: #6699ff;
$colors-3-members-2-contrast: dark;
$colors-3-members-2-notes: Our light grey;
$colors-3-members-3-name: 300;
$colors-3-members-3-val: #3377ff;
$colors-3-members-3-contrast: dark;
$colors-3-members-3-notes: Our light grey;
$colors-3-members-4-name: 400;
$colors-3-members-4-val: #0055ff;
$colors-3-members-4-contrast: light;
$colors-3-members-4-notes: Our light grey;
$colors-3-members-5-name: 500;
$colors-3-members-5-val: #004de6;
$colors-3-members-5-contrast: light;
$colors-3-members-5-notes: Our light grey;
$colors-3-members-6-name: 600;
$colors-3-members-6-val: #0044cc;
$colors-3-members-6-contrast: light;
$colors-3-members-6-notes: Our light grey;
$colors-3-members-7-name: 700;
$colors-3-members-7-val: #003399;
$colors-3-members-7-contrast: light;
$colors-3-members-7-notes: Our light grey;
$colors-3-members-8-name: 800;
$colors-3-members-8-val: #002b80;
$colors-3-members-8-contrast: light;
$colors-3-members-8-notes: Our light grey;
$colors-3-members-9-name: 900;
$colors-3-members-9-val: #00194c;
$colors-3-members-9-contrast: light;
$colors-3-members-9-notes: Our light grey;