@import './node_modules/modularscale-sass/stylesheets/modularscale';

.flex-parent {
    display: flex ;
}

.demo-item {
    margin-left: 0;
    margin-right: 0;
}

.demo-seperator-line {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

$modularscale: (
  base: 1rem,
  ratio: $minor-third
);

@mixin blackOpacityGradient() {
    background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}


.super  {
    font-size: ms( 8 ); 
    font-weight: normal;
}

.label-typography {
    width: 100%;
    align-self: center;
    text-align: right;
}


h1      { font-size: ms( 7 ); font-weight: normal; transition: all 1s ease; }
h2      { font-size: ms( 6 ); }
h3      { font-size: ms( 5 ); }
h4      { font-size: ms( 4 ); }
h5      { font-size: ms( 3 ); }
h6      { font-size: ms( 2 ); }

.intro  { font-size: ms( 2 ); }
p, li       { font-size: ms( 1 ); }

small, sup, sub   { font-size: ms( -1 ); }

p {
    // width: 80%;
    // max-width: 60rem;
    // margin-left: auto;
    // margin-right: auto;
}

small {
    // display: block;
    // width: 80%;
    // max-width: 60rem;
    // margin-left: auto;
    // margin-right: auto;
}

ol li ol, ol li ol li ol {
  list-style-type: lower-alpha;
}

ol li ol li ol {
  list-style-type: upper-roman;
}

code {
    background-color: #e0e0e0;
}


@import "keyboard";
@import "blockquote";

