@import "colors";
@import "spacing";
@import "zLayers";

///////////////////////// page items
$chair-color: $red-darkest;
$chair-arms-color: $red-darkest;
$seat-color: $grey-medium;
$chair-hover-color-change: 40%;



///////////////////////// border-radii
$br-std: 0.25rem;



///////////////////////// animations
$ticket-scale-inactive: 0.8;
$ticket-scale-active: 1;




///////////////////////// page items

// chair
$chair-color: $grey-dark;
$seat-color: $grey-medium;
$chair-hover-color-change: 40%;

$chair-border-radius: $br-std;


// spinner

$spinner-size: 75px;
$spinner-border-width: 1rem;
$spinner-color: $blue-medium;
$spinner-duration: 0.5s;