$page-background-color: #700;
$page-title-color: rgba( 255, 255, 255, 0.6);
$text-color-std: rgba( 255, 255, 255, 0.8);

h1, h2, h3, h4, h5, h6, p, b, i, sup, sub, blockquote, li, a {
	color: $text-color-std;
}

@import "color-swatch";
@import "ks-page-header";

body {
	background-color: $page-background-color !important;
}

// remember, svgs are all fill/stroke, not color/backgrounds
#svg-kitchensink-icon {
	width: 5rem;
	height: auto;
	fill: $page-title-color;
}

.page-header .section-title {
	color: $page-title-color;
	padding-top: $standard-spacing;
	padding-bottom: $standard-spacing;
	letter-spacing: 20px;
	.title-icon {
		margin-left: $standard-spacing;
		margin-right: $standard-spacing;
	}

}

.ks-item-label-col {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

}

.btn-show-code {
	background-color: transparent;
	display: block;
	padding: 0;
	border: none;
	border-radius: 15px;
	outline: none;
	width: 30px;
	height: 30px;
	background-color: #ddd;

	@include flex-centered-children();

	span {
		font-size: 1.5rem;
	}

	.open {
		position: relative;
		opacity: 1;
	}
	.close {
		position: absolute;
		top: -2px;
		opacity: 0;
	}

	&.is-active {
		.open {
			position: absolute;
			opacity: 0;
		}
		.close {
			position: relative;
			opacity: 1;
		}
	}
	&:hover, &.is-active {
		cursor: pointer;
		background-color: #444;
		color: #ccc;
	}
}

.ks-item-code {
	overflow-y: hidden;
	margin-bottom: 2rem;
}

.transioner {
	transition: all 0.3s ease;
}