$page-background-color: #700;
$page-title-color: choose-contrast-color( hex( $page-background-color, 0.7 ) );
$text-color-std: choose-contrast-color( hex( $page-background-color, 0.8 ) );
$page-title-color: rgba( #ffffff, 0.6 );
$text-color-std: rgba( #ffffff, 0.8 );;

h1, h2, h3, h4, h5, h6, p, b, i, sup, sub, small, blockquote, li, a {
	color: $text-color-std;
}

@import "color-swatch";
@import "ks-page-header";
@import "ks-page-footer";
@import "code";

body {
	background-color: $page-background-color !important;
}

// remember, svgs are all fill/stroke, not color/backgrounds
#svg-kitchensink-icon {
	width: 5rem;
	height: auto;
	fill: $page-title-color;
}

.page-header .section-title {
	color: $page-title-color;
	padding-top: $standard-spacing;
	padding-bottom: $standard-spacing;
	letter-spacing: 20px;
	.title-icon {
		margin-left: $standard-spacing;
		margin-right: $standard-spacing;
	}

}

.ks-item-label-col {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

$code-btn-width: 40px;

.btn-show-code {
	display: block;
	position: relative;
	width: $code-btn-width;
	height: $code-btn-width;
	padding: 0;
	border: 1px solid rgba( 255, 255, 255, 0.6 );
	outline: none;
	color: rgba( 255, 255, 255, 0.6 );;
	// border-radius: 50%;
	// padding: 0.5rem 1rem;
	background-color: transparent;




	&:before, &:after {
		position: absolute;
		display: block;
		text-align: center;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: transform 0.15s ease;
		// transform: translateY( 25% );
	}

	&:before {
		// content: "\022EF";
		line-height: $code-btn-width - 5;
		content: "</>";
		opacity: 1;
	}
	&:after {
		// content: "U+000D7";
		line-height: $code-btn-width - 8;
		font-size: 1.85rem;
		content: "\000D7";
		opacity: 0;
	}

	&.is-active {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	&:hover, &.is-active {
		cursor: pointer;
		border: 1px solid rgba( 255, 255, 255, 1 );
		color: rgba( 255, 255, 255, 1 );
		transition: all 0.15s ease;
	}
}

.ks-item:hover {
	.ks-item-label-col {
		p {
			color: rgba( 255, 255, 255, 1 );
		}

		button {
			color: rgba( 255, 255, 255, 1 );
			border: 1px solid rgba( 255, 255, 255, 1 );
		}
	}
}

.ks-item-code {
	overflow-y: hidden;
}

.transioner {
	transition: all 0.3s ease;
}

.item-split-line {
	position: relative;
	height: 3px;
	width: $hr-gradient-width;
	left: $hr-gradient-layout-offset-x;
	opacity: 1;
	background: transparent;

	&:before, &:after {
		content: " ";
		z-index: 100;
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
	}

	&:before {
		bottom: 1px;
		height: 2px;
		opacity: 0.5;
		@include shadow-radial-gradient();
	}

	&:after {
		bottom: 0;
		left: 10%;
		width: 80%;
		opacity: 0.5;
		@include highlight-radial-gradient();
	}

}

.demo-item-example {
	margin-bottom: $large-spacing;
}